nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: #584b53;
  padding: 15px;
  text-decoration:none ;
  font-size: larger;
  font-weight:600;
  column-gap: 10px;
}
nav a {
  display: flex;
  font-size: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #efdfbb;
  padding: 10px ;
  background-color: #9d5c63;
  border-radius: 5px;
}

p {
  font-size: larger;
  font-weight: 600;
  text-align: center;
}
form {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  row-gap: 20px;
}
form button{
  margin: auto;
  grid-column: 1/4;
}
#stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  margin: auto;
  width: 100%;
  justify-items: center;
  row-gap: 20px;
}
body{
  background-color: #d6e3f8;
}
#stats div {
  border: 1.5px solid #9d5c63 ;
  border-radius: 5px;
  padding: 5px;
}
input {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  max-width: 200px;
}
select {
  padding: 10px;
  font-size: 20px;
  width: 250px;
}
@media screen and (max-width: 821px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    padding: 20px 0;
  }

  #stats {
    grid-template-columns: 1fr 1fr;
    width:fit-content;
    column-gap: 20px;;
  }

  nav {
    flex-direction: column;
    row-gap: 5px;
  }
}

@media screen and (max-width: 500px) {
  input {
    max-width: 100px;
  }
}